@media (prefers-color-scheme: light) {
  body {
    background: #333;
    color: white;
  }

  .head {
    color: white;
  }

  .CodeMirror {
    background: #333;
    color: white;
  }

  .CodeMirror-gutter {
    background: rgb(71, 71, 71);
  }

  .CodeMirror-linenumbers{
    background: rgb(71, 71, 71);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #ddd;
    color: black;
  }

  .head {
    color: black;
  }

  .CodeMirror {
    background: #ddd;
    color: black;
  }

  .CodeMirror-gutter {
    background: white;
  }

  .CodeMirror-linenumbers{
    background: white;
  }
}

body {
  margin: 0px;
  font-family: "Raleway", sans-serif;
}


#editor {
  height: 100% !important;
}
.CodeMirror {
  width: 55%; 
  height: 35rem;
  /* height: 90% !important; */
  /* resize: vertical; */
  overflow: auto !important;
}

#browser-form-section {
  float: right;
  /* margin: 0 1.5%; */
  width: 30%;
  margin-left: 50%;
  /* margin-top: .5%; */
}

#browser-form {
  margin-top: .5%;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}