@media (prefers-color-scheme: dark) {
  body {
    background: #334272;
    color: white;
  }

  .true {
    background-color: #3e4f88;
  }

  li {
    border: 1px solid #b9dff0;
    background-color: #354475;
  }

  .head {
    color: white;
  }

  .CodeMirror {
    background: #3e4f88;
    color: #b9dff0;
  }

  .CodeMirror-gutter {
    background: #3e4f88;
  }

  .CodeMirror-linenumbers {
    background: #354475;
  }

  .xterm-viewport {
    background-color: #1b2e5c !important;
  }

  .sidebar {
    background-color: #1b2e5c;
  }

  a:hover {
    background-color: #111d3a;
  }
  
  a:active {
    box-shadow: 0 3.5px #111d3a;
    transform: translateY(4px);
  }

  #url-field {
    border: 1px solid #111d3a;
  }

  #browser-btn {
    background-color: #111d3a;
    border: 1px solid #b9dff0;
  }

  #browser-btn:hover {
    border-color: #3e3979;
    box-shadow: 10px 5px 5px #111d3a;
  }

  #browser-btn:active {
    box-shadow: 0 3.5px #354475;
    transform: translateY(4px);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: #feeedd;
    color: black;
  }

  .head {
    color: black;
  }

  .true {
    background-color: #fcf3ea;
  }

  li {
    border: 1px solid #b8b8ff;
    background-color: #fed8be;
  }

  .CodeMirror {
    background: #fcf3ea;
    color: #9382fe;
  }

  .CodeMirror-gutter {
    background: #fed8be;
  }

  .CodeMirror-linenumbers {
    background: #fed8be;
  }

  #url-field {
    border: 1px solid #4840ac;
  }

  .sidebar {
    background-color: #7a72e9;
  }

  a:hover {
    background-color: #4840ac
  }
  
  a:active {
    box-shadow: 0 3.5px #4840ac;
    transform: translateY(4px);
  }

  #browser-btn {
    background-color: #4840ac;
    border: 1px solid #7a72e9;
  }

  #browser-btn:hover {
    border-color: #3e3979;
    box-shadow: 10px 5px 5px #3e3979;
  }

  #browser-btn:active {
    box-shadow: 0 3.5px #4840ac;
    transform: translateY(4px);
  }
}
html {
  max-height: 100vh;
}

body {
  margin: 0px;
  height: 100vh;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  display: grid;
  grid-template-areas: "sidenav tabs tabs" "sidenav codemirror ." "sidenav terminal .";
  grid-template-rows: 50px 1fr 200px;
  grid-template-columns: 150px 1fr 96px;
}

li {
  display: inline-block;
  margin-right: 8px;
  border-bottom: 0;
  height: fit-content;
}

.tabs {
  grid-area: tabs;
  margin: 0;
  display: flex;
  align-items: flex-end;
}

h5.text {
  display: inline-block;
  margin: 10px;
}

.CodeMirror {
  grid-area: codemirror;
  width: 60%;
  height: 100%;
  overflow: hidden !important;
  margin-bottom: 0.5rem;
  margin-left: 0.8rem;
}
.xterm-viewport {
  width: 61% !important;
}

.outer-terminal {
  grid-area: terminal;
  margin-left: .8rem;
}


.xterm-screen {
  height: 200px !important;
}

.xterm-text-layer {
  height: 200px !important;
}

.xterm-selection-layer {
  height: 200px !important;
}

.xterm-link-layer {
  height: 200px !important;
}

.xterm-cursor-layer {
  height: 200px !important;
}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 16px;
  grid-area: sidenav;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  /* margin-left: auto;
  margin-right:auto; */
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Style the main content */
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

#browser-form-section {
  position: fixed;
  bottom: 0;
}

#url-field {
  height: 2rem;
  width: 9rem;
  border-radius: 8px;
  /* margin-top: 20rem; */
}

#browser-btn {
  padding: 8px 20px;
  border-radius: 8px;
  margin: 10px;
  font-size: 16px;
  color: white;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

a {
  width: 60px;
  border-radius: 12px;
}
